Repository PADOTAGY/Halligali, pull requests merged in 2022-11, with the labels that each got.

#18 [Refactor/#17] printOnPos() 함수로 교체
  Source/Module/UI/Makefile
  Source/Module/UI/UI.h
  Source/Module/UI/UIutil.c
  Source/Module/UI/deleteCard.c
  Source/Module/UI/drawCard.c
  Source/Module/UI/drawHitBellMotion.c
  Source/Module/UI/drawScrean.c
  Source/Module/UI/initTerminal.c
  Source/Module/UI/test.c
  Source/Module/UI/test.exe
Labels: UI

#21 [Bug/#20] - 후퇴할때마다 종 일부 다시 그리기
  Source/Module/UI/drawHitBellMotion.c
  Source/Module/UI/test.exe
Labels: UI

#9 [Feat/#8] 아이템 구조체 세팅
  Source/Module/Item/Item.h
  Source/Module/Item/ItemModule.h
  Source/Module/Item/ItemUtil.c
  Source/Module/Reusable/Reusable.h
Labels: Item

#54 [Feat/#53] NPC 카드드로우, 종치기 delay구현
  Source/Module/Game/game.h
  Source/Module/Game/initGame.c
  Source/Module/Game/makeEndPage.c
  Source/Module/NPC/calcAverageTimeUserPutDownBell.c
  Source/Module/NPC/runNPCModule.c
  Source/Module/UI/UI.h
  Source/Module/UI/drawGameEndPage.c
  Source/Module/UI/updateUI.c
  Source/main.c
  Source/test.exe
Labels: NPC
